.header__list-item {
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.11;
  transition: border 200ms ease-in-out;
}

.header__list-item:not(:last-child) {
  margin-right: 18px;
}

@media screen and (min-width: 768px) {
  .header__list-item {
    font-size: 24px;
    line-height: 1.17;
  }
}
