.cover__paragraph {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (min-width: 425px) {
  .cover__paragraph {
    max-width: 46.9%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .cover__paragraph {
    font-size: 18px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1024px) {
  .cover__paragraph {
    max-width: 35.1%;
  }
}
