.header__container {
  padding: 0 16px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding: 0 24px;
    margin: 0 auto 48;
  }
}

@media screen and (min-width: 1024px) {
  .header__container {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .header__container {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .header__container {
    margin-bottom: 56px;
  }
}
