.cover__title {
  width: 100%;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  transition: none;
}

@media screen and (min-width: 425px) {
  .cover__title{
    margin: 0 auto;
    max-width: 70%;
    margin-bottom: 32px;
    font-size: 42px;
  }
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 1.06;
  }
}
