/*.container {
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 90.6%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 92.5%;
  }
}*/
