.lead__container {
  padding: 0;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .lead__container {
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__container {
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__container {
    margin-bottom: 92px;
    padding: 0 100px;
  }
}
