.footer {
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 0 24px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    width: 90.6%;
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    width: 100%;
  }
}
