.card__title {
  width: 90%;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
}

@media screen and (min-width: 768px) {
  .card__title {
    width: 100%;
    box-sizing: border-box;
    padding-right: 10px;
    margin-bottom: 48px;
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 1024px) {
  .card__title {
    font-size: 72px;
    line-height: 1.06;
  }
}


