.intro__title {
  width: 100%;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
}

@media screen and (min-width: 768px) {
  .intro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
  }
}
